<main class="main d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form [formGroup]="requisicaoForm">
              <h1>Solicitar Documentos</h1>
              <p class="text-muted">Solicite ou mais documentos para uma empresa</p> 
              <div class="row">
                <div class="input-group col mb-3">
                  <select class="form-control" formControlName="usuarioDestino">
                    <option value='' disabled selected>Empresa</option>
                    <option *ngFor="let empresa of empresas" [ngValue]="empresa.responsavel"> {{empresa.pjId.razao_social}} </option>
                  </select>
                </div>
              </div>
              <select class="form-control" (change)="onChangeCategoria($event.target.value)" style="margin-bottom:10px;" formControlName="categoria">
                <option value='' disabled selected>Categoria</option>
                <option *ngFor="let categoria of categorias" [value]="categoria.id"> {{categoria.nomeCategoria}} </option>
              </select>

              <div *ngIf="(selecionado)">
                <label *ngIf="(tiposDocumentos.length) == 0"class="form-label"> Nenhum tipo de documento encontrado para essa categoria</label>
                <label *ngIf="(tiposDocumentos.length) > 0"class="form-label">Selecione pelo menos um tipo de documento</label>
                <div *ngFor="let tipoDocumento of tiposDocumentos" class="form-check col">
                  <input  class="form-check-input" type="checkbox" [value]="tipoDocumento.id" (change)="onChangeDocumentos($event)"> {{tipoDocumento.nomeDocumento}}
                </div>
                
              </div>

              
        
              
              <div class="row" style="margin-top:20px; margin-bottom: 10px;">
                <div class="col-md-12">
                    <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                    placeholder="Escreva uma mensagem aqui" formControlName="txtMensagem"></textarea>
                </div>
              </div>
              
              <button type="button" class="btn btn-block btn-success" (click)="enviarRequisicao(requisicaoForm)" [disabled]="requisicaoForm.invalid || (tiposSelecionados.length == 0)"> Fazer Solicitação</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>