<div class="animated fadeIn mt-4">
  <div class="row justify-content-center align-middle">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Lista de Tipos de Documentos
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-8">
              <input class="btn btn-info mb-2" type="button" value="Novo+" [routerLink]="['cadastrar']">
            </div>
            <div class="col col-4">

              <select *ngIf="(role === 'ROLE_ADMIN')"
                class="form-control"
                id="field_escritorioBusca"
                (change)="onSearchEscritorioChange($event)"
                >
                <option [value]="null">Buscar por escritório</option>
                <option [value]="escritorioOption.id"
                  *ngFor="let escritorioOption of escritorios">
                  {{ escritorioOption.nomeFantasia }}
                </option>
              </select>

            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th>Nome do documento</th>
                <th>Escritório</th>
                <th>Categoria</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tipoDocumento of tiposDocumentos; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ tipoDocumento.nomeDocumento}}</td>
                <td>{{ tipoDocumento.escritorioContabil.nomeFantasia }}</td>
                <td>{{ tipoDocumento.categoria.nomeCategoria }}</td>
                <td><input class="btn btn-info" type="button" value="Editar" [routerLink]="['editar', tipoDocumento.id]"></td>
                <td><input class="btn btn-danger ms-3" type="button" (click)="openDialog(tipoDocumento, tipoDocumento.id)" value="Excluir"></td>
              </tr>
            </tbody>
          </table>
          <div class="col-xs-12 col-12 d-sm-down-none">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="5"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
