<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card mx-4">
      <div class="card-body p-4">
        <form [formGroup]="documentoForm">
          <h1>Editar Documento</h1>
          <!--div class="alert alert-danger" role="alert" *ngIf="documentoForm.get('competencia').invalid && (documentoForm.get('competencia').dirty || documentoForm.get('competencia').touched)">
                  <span>O campo competência é obrigatório.</span>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="documentoForm.get('valorVencimento').invalid && (documentoForm.get('valorVencimento').dirty || documentoForm.get('valorVencimento').touched)">
                  <span>O campo valor de vencimento não pode ser vazio ou menor que 0.</span>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="documentoForm.get('categoria').invalid && (documentoForm.get('categoria').dirty || documentoForm.get('categoria').touched)">
                <span>O campo categoria é obrigatório.</span>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="documentoForm.get('statusEnvio').invalid && (documentoForm.get('statusEnvio').dirty || documentoForm.get('statusEnvio').touched)">
                <span>O campo status de envio é obrigatório.</span>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="documentoForm.get('usuarioId').invalid && (documentoForm.get('usuarioId').dirty || documentoForm.get('usuarioId').touched)">
                <span>O campo usuário é obrigatório.</span>
              </div-->
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="competencia" formControlName="competencia"
              placeholder="Competência"
              [class.is-invalid]="documentoForm.get('competencia').invalid && (documentoForm.get('competencia').dirty || documentoForm.get('competencia').touched)"
              required>
            <div class="invalid-feedback">
              O campo Competência é obrigatório.
            </div>
          </div>
          <div class="row">
            <div class="input-group col mb-3">
              <input type="number" class="form-control" formControlName="valorVencimento" name="valorVencimento"
                placeholder="Valor de Vencimento" value="{{0}}"
                [class.is-invalid]="documentoForm.get('valorVencimento').invalid && (documentoForm.get('valorVencimento').dirty || documentoForm.get('valorVencimento').touched)"
                required>
              <div class="invalid-feedback">
                O campo Valor de Vencimento é obrigatório, deve conter apenas números e não pode ser menor que 0.
              </div>
            </div>
            <div class="input-group col-8 mb-3">
              <input type="text" class="form-control" formControlName="categoria" name="categoria"
                placeholder="Categoria"
                [class.is-invalid]="documentoForm.get('categoria').invalid && (documentoForm.get('categoria').dirty || documentoForm.get('categoria').touched)"
                required>
              <div class="invalid-feedback">
                O campo Categoria é obrigatório.
              </div>
            </div>
          </div>
          <!--div class="row">
                <div class="input-group col mb-3">
                  <select class="form-control" formControlName="statusEnvio" name="statusEnvio">
                    <option value='' disabled selected>Status de envio</option>
                    <option *ngFor="let name of enumKeys" [value]="name"> {{status[name]}} </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="input-group col mb-3">
                  <select class="form-control"  formControlName="usuarioId" name="usuarioId">
                    <option value='' disabled selected>Usuario</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario"> {{usuario.nome}} </option>
                  </select>
                </div>
              </div-->

          <button type="button" class="btn btn-block btn-success" (click)="editar(documentoForm)"
            [disabled]="(documentoForm.invalid)">Salvar Alterações</button>
        </form>
      </div>
    </div>
  </div>
</div>
