<button type="button" class="btn btn-light" onclick="history.back()" style="background-color: rgb(228, 229, 230);"> <i
    class="fa fa-arrow-left"></i> Voltar</button>

<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card mx-4">
      <div class="card-body p-4">
        <form [formGroup]="tipoDocumentoForm">
          <h1 *ngIf="!isUpdating; else elseTitulo">Cadastrar Tipo de documento</h1>
          <ng-template #elseTitulo>
            <h1>Editar Tipo de documento</h1>
          </ng-template>
          <hr>

          <div class="input-group mb-3">

            <div class="input-group-prepend">
              <span class="input-group-text">Nome do documento</span>
            </div>

            <input type="text" class="form-control" name="nomeDocumento" required [class.is-invalid]="tipoDocumentoForm.get('nomeDocumento').invalid
                  && (tipoDocumentoForm.get('nomeDocumento').dirty
                  || tipoDocumentoForm.get('nomeDocumento').touched)" formControlName="nomeDocumento">

            <div class="invalid-feedback">
              O campo Nome do Documento é obrigatório.
            </div>

          </div>

          <div class="row">

            <div class="input-group col mb-3">

              <div class="input-group-prepend">
                <span class="input-group-text">Escritório</span>
              </div>

              <select class="form-control" id="field_escritorioContabil" data-cy="escritorioContabil"
                name="escritorioContabil" formControlName="escritorioContabil" required [class.is-invalid]="tipoDocumentoForm.get('escritorioContabil').invalid
                    && (tipoDocumentoForm.get('escritorioContabil').dirty
                    || tipoDocumentoForm.get('escritorioContabil').touched)">
                <option [ngValue]="null">Selecione o escritório</option>
                <option [ngValue]="escritorioOption.id === tipoDocumentoForm.get('escritorioContabil')!.value?.id ?
                      tipoDocumentoForm.get('escritorioContabil')!.value : escritorioOption"
                  *ngFor="let escritorioOption of escritoriosSharedCollection; trackBy: trackTipoDocumentoById">
                  {{ escritorioOption.nomeFantasia }}
                </option>
              </select>

              <div class="invalid-feedback">
                O campo Escritório é obrigatório.
              </div>

            </div>
          </div>

          <div class="row">

            <div class="input-group col mb-3">

              <div class="input-group-prepend">
                <span class="input-group-text">Categoria</span>
              </div>

              <select class="form-control" id="field_categoria" data-cy="categoria" name="categoria"
                formControlName="categoria" required [class.is-invalid]="tipoDocumentoForm.get('categoria').invalid
                    && (tipoDocumentoForm.get('categoria').dirty
                    || tipoDocumentoForm.get('categoria').touched)">
                <option [ngValue]="null">Selecione a categoria</option>
                <option [ngValue]="categoriaOption.id === tipoDocumentoForm.get('categoria')!.value?.id ?
                      tipoDocumentoForm.get('categoria')!.value : categoriaOption"
                  *ngFor="let categoriaOption of categoriasSharedCollection; trackBy: trackTipoDocumentoById">
                  {{ categoriaOption.nomeCategoria }}
                </option>
              </select>

              <div class="invalid-feedback">
                O campo Categoria é obrigatório.
              </div>

            </div>
          </div>
          <hr>

          <button *ngIf="!isUpdating; else elseButtonSalvar" type="button" class="btn btn-block btn-success"
            (click)="save()" [disabled]="tipoDocumentoForm.invalid || isSaving">
            Cadastrar
          </button>
          <ng-template #elseButtonSalvar>
            <button type="button" class="btn btn-block btn-success" (click)="save()"
              [disabled]="tipoDocumentoForm.invalid || isSaving">
              Salvar
            </button>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</div>
