<button type="button" class="btn btn-light" onclick="history.back()" style="background-color: rgb(228, 229, 230);"> <i
    class="fa fa-arrow-left"></i> Voltar</button>

<div class="conteiner">

  <div class="card w-50 mx-auto p-2">

    <form [formGroup]="configuracaoForm">
      <div class="card-header bg-white" style="border: none;">
        <h1 class="m-2">Configurar Documento</h1>
      </div>

      <nav class="navbar-nav navbar-light bg-light my-3">
        <div class="container-fluid" style="background-color: #43B8AF;">
          <div class="navbar-nav">
            <a class="nav-link disabled ms-4 text-light fs-5 fw-bold" style="text-decoration-style: solid;"
              aria-current="page" href="#">CONFIGURAÇÃO</a>
          </div>
        </div>
      </nav>

      <div class="card-body">
        <div *ngIf="((admin) || (multiplos)) && !(editando)" class="row mx-auto form-group">
          <div class="col-md-12 mb-3">
            <div class="input-group">
              <span class="input-group-text">Escritório</span>
              <select class="form-control form-select" nome="escritorio"  formControlName="cnpjEscritorio">
                <option value="" disabled selected> Selecione </option>
                <option *ngFor="let escritorio of escritorios" [value]="escritorio.cnpj"> {{escritorio.cnpj}} </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mx-auto form-group">
          <div class="col-md-12 mb-3">
            <div class="input-group">
              <span class="input-group-text">Documento</span>
              <input class="form-control" type="text" aria-describedby="cadastrarDocumento" formControlName="documento"
                [ngClass]="{'is-invalid': configuracaoForm.get('documento').invalid && (configuracaoForm.get('documento').dirty || configuracaoForm.get('documento').touched)}"
                (blur)="statusForm($event)">
              <div class="invalid-feedback">
                <div *ngIf="configuracaoForm.get('documento').errors?.required">
                  Campo Obrigatório
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-auto form-group">
          <div class="col-md-12">
            <div formArrayName="regras">
              <div class="input-group">
                <span class="input-group-text">Regras</span>
                <input class="form-control" type="text" aria-describedby="insereRegra" [(ngModel)]="regraNome"
                  [ngModelOptions]="{standalone: true}">
                <button class="btn" id="insereRegra" type="button" (click)="adicionarRegra()">Inserir</button>
              </div>
              <ul class="hlist">
                <li *ngFor="let regra of regras.controls; let i=index" class="">
                  <h5>
                    <span class="badge bg-light text-dark p-1">{{regra.value}}
                      <button class="btn btn-close bg-info p-0" type="button" (click)="removeRegra(i)"></button>
                    </span>
                  </h5>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row mx-auto form-group">
          <div class="col-md-12 mb-3">
            <div class="input-group">
              <span class="input-group-text">Formato de Data</span>
              <select class="form-control form-select" nome="data"
                [ngClass]="{'is-invalid': configuracaoForm.get('data').invalid && (configuracaoForm.get('data').dirty || configuracaoForm.get('data').touched)}"
                formControlName="data">
                <option value="" disabled selected> Selecione </option>
                <option *ngFor="let n of formatos" [value]="formatosDeData[n]"> {{formatosDeData[n]}} </option>
              </select>
            </div>
            <div class="invalid-feedback">
              <div *ngIf="configuracaoForm.get('data').errors?.required">
                Campo Obrigatório</div>
            </div>
          </div>
        </div>

        <div class="row mx-auto form-group">
         <div>
          <div class="col-5 me-auto">
            <div class="input-group">
              <label id="file-input-label" class="input-group-text" for="file-input">Upload
                <i class="fa-solid fa-arrow-up-from-bracket ms-2"></i>
              </label>
              <input id="file-input" class="form-control" type="file" (change)="updateArquivo($event.target.files)"
                accept=".pdf" />
              <input type="text" style="text-align:center; border-style: dashed;" [value]="nomeArquivo" disabled>
            </div>
          </div>
         </div>


          <div class="col-6 ms-auto">
            <div class="input-group">
              <span class="input-group-text mr-3">Concluir tarefa:</span>
              <div class="form-check m-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1"
                  [checked]="(checkAposLeitura)" (change)="mudarConcluirTarefa()">
                <label class="form-check-label" for="flexRadioDefault1">
                  Após Leitura
                </label>
              </div>
              <div class="form-check m-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2"
                  [checked]="(checkAposEnvio)" (change)="mudarConcluirTarefa()">
                <label class="form-check-label" for="flexRadioDefault2">
                  Após Envio
                </label>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-white" style="border: none;">
        <div *ngIf="gif" style="text-align: center;">
          <img src="assets/img/loading_w.gif" alt="Carregando" width="3%" /> <span> Fazendo leitura</span>
        </div>
        <button *ngIf="!(editando)" type="button" class="btn btn-block btn-success" (click)="cadastrar(configuracaoForm)"
          [disabled]="configuracaoForm.invalid || (arquivo == '' || arquivo == null) || (desativaBotao)">Cadastrar</button>
          <button *ngIf="(editando)" type="button" class="btn btn-block btn-success" (click)="editar(configuracaoForm)"
          [disabled]="configuracaoForm.invalid || (arquivo == '' || arquivo == null) || (desativaBotao)">Editar</button>
      </div>
    </form>
  </div>
</div>
