li {
  float: left;
  list-style: none;
  padding: 5px;
}

input#file-input {
  display: none;


}

label#file-input-label{
  background-color: transparent;
  border-color: #43B8AF;
  color:#43B8AF;
}

label#file-input-label:hover {
  background-color: #43B8AF;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  color:#23282c;
}

button#insereRegra {
  background-color: transparent;
  border-color: #43B8AF;
  color:#43B8AF;
}

button#insereRegra:hover {
  background-color: #43B8AF;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  color:#23282c;
}





