<button type="button" class="btn btn-light" onclick="history.back()" style="background-color: rgb(228, 229, 230);"> <i
    class="fa fa-arrow-left"></i> Voltar</button>



<div class="card">

  <div class="bg-white" style="margin-left: 1%; margin-top: 1%;">
    <h4 *ngIf="(!editando)">Cadastrar Usuário</h4>
    <h4 *ngIf="(editando)"> Editar Usuário </h4>
  </div>
  <div class="card-body">
    <form [formGroup]="usuarioForm">
      <div class="form-group row mx-auto">
        <div *ngIf="(!editando) && (admin)" class="form-group mb-1">
          <div class="form-check col-6">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
              [checked]="(btnEmpresa)" (change)="mudarValorBtnEmpresa()">
            <label class="form-check-label" for="flexRadioDefault1">
              Colaborador Empresa
            </label>
          </div>
          <div class="form-check col-6 mb-3">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
              [checked]="(btnEscritorio)" (change)="mudarValorBtnEscritorio()">
            <label class="form-check-label" for="flexRadioDefault2">
              Colaborador Escritório
            </label>
          </div>
        </div>

        <div *ngIf="(btnEmpresa) && (!editando) && (admin)" class="form-group col-md-4">
          <select (change)="onKey1()" class="form-control form-select" formControlName="cnpj"
            [ngClass]="{'is-invalid': usuarioForm.get('cnpj').touched && (btnEmpresa) && !(emp)}">
            <option value='' disabled selected>Selecione a Empresa</option>
            <option *ngFor="let empresa of empresas" [ngValue]="empresa.cnpj" mask="00.000.000/0000-00">
              {{empresa.cnpj}} </option>
          </select>
          <div class="invalid-feedback">
            Selecione uma empresa
          </div>
        </div>

        <div *ngIf="(btnEscritorio) && (!editando) && (admin)" class="form-group col-md-4">
          <select (change)="onKey2($event.target.value)" class="form-control form-select" formControlName="cnpj"
            [ngClass]="{'is-invalid': usuarioForm.get('cnpj').touched && (btnEscritorio) && !(esc)}">
            <option value='' disabled selected>Selecione o Escritório</option>
            <option *ngFor="let escritorio of escritorios" [ngValue]="escritorio.cnpj" mask="00.000.000/0000-00">
              {{escritorio.cnpj}} </option>
          </select>
          <div class="invalid-feedback">
            Selecione um escritório
          </div>
        </div>

        <div *ngIf="(!editando) && !(admin) && (!multiplos)" class="form-group col-md-4">
          <label class="form-label" for="cnpj">CNPJ</label>
          <input type="text" class="form-control" name="cnpj"
            [ngClass]="{'is-invalid': (usuarioForm.get('cnpj').invalid && (usuarioForm.get('cnpj').dirty || usuarioForm.get('cnpj').touched))}"
            mask="00.000.000/0000-00" formControlName="cnpj" disabled>
        </div>

        <div *ngIf="(!editando) && (admin_escritorio) && (multiplos)" class="form-group col-md-4">
          <select (change)="onKey2($event.target.value)" class="form-control form-select" formControlName="cnpj"
            [ngClass]="{'is-invalid': usuarioForm.get('cnpj').touched && (btnEscritorio) && !(esc)}">
            <option value='' disabled selected>Selecione o Escritório</option>
            <option *ngFor="let escritorio of escritorios" [ngValue]="escritorio.cnpj" mask="00.000.000/0000-00">
              {{escritorio.cnpj}} </option>
          </select>
          <div class="invalid-feedback">
            Selecione um escritório
          </div>
        </div>
      </div>
      <div *ngIf="(!editando) && (admin_empresa) && (multiplos)" class="form-group col-md-4">
        <select (change)="onKey1()" class="form-control form-select" formControlName="cnpj"
          [ngClass]="{'is-invalid': usuarioForm.get('cnpj').touched && (btnEmpresa) && !(emp)}">
          <option value='' disabled selected>Selecione a Empresa</option>
          <option *ngFor="let empresa of empresas" [ngValue]="empresa.cnpj" mask="00.000.000/0000-00">
            {{empresa.cnpj}} </option>
        </select>
        <div class="invalid-feedback">
          Selecione uma empresa
        </div>
      </div>

      <div class="dados">

        <h6><span>Dados do Usuário</span></h6>
        <div class="row form-group">
          <div class="col-md-5">
            <label class="form-label" for="nome">Nome Completo</label>
            <input type="text" class="form-control" name="nome" formControlName="nome"
              [ngClass]="{'is-invalid': usuarioForm.get('nome').invalid && (usuarioForm.get('nome').dirty || usuarioForm.get('nome').touched)}">
            <div class="invalid-feedback">
              O campo Nome é obrigatório.
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <label class="form-label" for="rg">RG</label>
            <input type="text" class="form-control" name="rg" formControlName="rg"
              [ngClass]="{'is-invalid': usuarioForm.get('rg').invalid && (usuarioForm.get('rg').dirty || usuarioForm.get('rg').touched)}"
              mask="00000000">
            <div class="invalid-feedback">
              O campo RG é obrigatório. Deve ter 7 dígitos.
            </div>
          </div>
          <div class="col-md-5">
            <label class="form-label" for="cpf">CPF</label>
            <input type="text" class="form-control" name="cpf"
              [ngClass]="{'is-invalid': (usuarioForm.get('cpf').invalid && (usuarioForm.get('cpf').dirty || usuarioForm.get('cpf').touched)) || (usuarioForm.get('cpf').touched && !(cpf))}"
              mask="000.000.000-00" formControlName="cpf" (blur)="cpfKeyPressEvent($event.target.value)">
            <div class="invalid-feedback">
              <div *ngIf="usuarioForm.get('cpf').errors?.required">
                O campo CPF é obrigatório.</div>
              <div *ngIf="usuarioForm.get('cpf').errors?.cpfInvalido">
                CPF inválido, por favor insira outro.</div>
              <div *ngIf="usuarioForm.get('cpf').errors?.duplicado">
                CPF já existe, por favor insira outro.</div>
              <div *ngIf="usuarioForm.get('cpf').errors?.minlength">
                Campo CPF deve conter 11 dígitos.</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-5">
            <label class="form-label" for="contato">Celular</label>
            <input type="text" class="form-control" name="contato" formControlName="contato"
              [ngClass]="{'is-invalid': usuarioForm.get('contato').invalid && (usuarioForm.get('contato').dirty || usuarioForm.get('contato').touched)}"
              mask="(00) 0000-0000">
            <div class="invalid-feedback">
              O campo Contato é obrigatório.
            </div>
          </div>
          <div class="col-md-5">
            <label class="form-label" for="email">Email</label>
            <input type="text" class="form-control" name="email"
              [ngClass]="{'is-invalid': usuarioForm.get('email').invalid && (usuarioForm.get('email').dirty || usuarioForm.get('email').touched)}"
              formControlName="email">
            <div class="invalid-feedback">
              O campo Email é obrigatório.
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div *ngIf="((admin_escritorio) || ((btnEscritorio)) && !(editandoAdminEsc))" class="col-md-5">

            <label class="form-label" for="departamento">Departamento</label>
            <select class="form-control form-select" formControlName="departamento" name="departamento"
              [ngClass]="{'is-invalid': ((usuarioForm.get('departamento').value == '' || usuarioForm.get('departamento').value == null) && (usuarioForm.get('departamento').dirty || usuarioForm.get('departamento').touched)) && ((btnEscritorio) || (admin_escritorio))}">
              <option value='' selected>Departamento</option>
              <option *ngFor="let departamento of departamentos" [ngValue]="departamento.id"> {{departamento.nome}}
              </option>
            </select>
            <div class="invalid-feedback">
              Selecione um departamento
            </div>

          </div>
        </div>
      </div>
      <br>
      <div class="rodape">
        <button *ngIf="(!editando)" type="button" class="btn btn-block btn-success" (click)="cadastrar(usuarioForm)"
          [disabled]="(usuarioForm.invalid || (!(emp) && (btnEmpresa)) || (!(esc) && (btnEscritorio)) || !(cpf)) ||((usuarioForm.get('departamento').value == null || usuarioForm.get('departamento').value == '')  && ((btnEscritorio) || (admin_escritorio)))">Cadastrar</button>
        <button *ngIf="(editando)" type="button" class="btn btn-block btn-success" (click)="editar(usuarioForm)"
          [disabled]="usuarioForm.invalid || (usuarioForm.get('departamento').value == ''  && ((btnEscritorio) || (admin_escritorio))) ">Editar</button>
      </div>








      <!--div formGroupName="endereco" style="border: none;">
            <div class="form-group mb-1">
              <label class="form-label" for="cep">CEP</label>
              <input type="text" class="form-control" name="cep" formControlName="cep"
                (blur)="consultaCep($event.target.value)"
                [ngClass]="{'is-invalid': usuarioForm.get('endereco').get('cep').invalid && (usuarioForm.get('endereco').get('cep').dirty || usuarioForm.get('endereco').get('cep').touched)}"
                mask="00000-000">
              <div class="invalid-feedback">
                <div *ngIf="usuarioForm.get('endereco').get('cep').errors?.cepInvalido">
                  Erro ao consultar CEP.
                </div>
                <div *ngIf="usuarioForm.get('endereco').get('cep').errors?.required">
                  Campo CEP é obrigatório.
                </div>
                <div *ngIf="usuarioForm.get('endereco').get('cep').errors?.minlength">
                  Campo CEP deve conter 8 dígitos.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-8 mb-1">
                <label class="form-label" for="rua">Rua</label>
                <input type="text" class="form-control" name="rua" formControlName="rua">
              </div>
              <div class="form-group col mb-1">
                <label class="form-label" for="numero">Número</label>
                <input type="number" class="form-control" name="numero" formControlName="numero">
              </div>
            </div>

            <div class="form-group mb-1">
              <label class="form-label" for="bairro">Bairro</label>
              <input type="text" class="form-control" name="bairro" formControlName="bairro">
            </div>
            <div class="form-group mb-1">
              <label class="form-label" for="cidade">Cidade</label>
              <input type="text" class="form-control" name="cidade" formControlName="cidade">
            </div>
            <div class="form-group mb-1">
              <label class="form-label" for="estado">Estado</label>
              <input type="text" class="form-control" name="estado" formControlName="estado">
            </div>
          </div-->





      <!-- <div class="form-group mb-1">
                  <div class="form-group-prepend">
                    <span class="form-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="login" [ngClass]="usuarioForm.get('login').invalid && (usuarioForm.get('login').dirty || usuarioForm.get('login').touched)" placeholder="Login" formControlName="login">
                  <div class="invalid-feedback">
                    O campo Login é obrigatório.
                  </div>
                </div>
                <div *ngIf="(!editando)" class="form-group mb-1">
                  <div class="form-group-prepend">
                    <span class="form-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" name="senha" [ngClass]="usuarioForm.get('senha').invalid && (usuarioForm.get('senha').dirty || usuarioForm.get('senha').touched)" placeholder="Senha" formControlName="senha">
                  <div class="invalid-feedback">
                    O campo Senha é obrigatório.
                  </div>
                </div>
                <div *ngIf="(!editando)" class="form-group mb-1">
                  <div class="form-group-prepend">
                    <span class="form-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" name="confirmar_senha" [ngClass]="usuarioForm.get('confirmar_senha').value != usuarioForm.get('senha').value" placeholder="Confirmar Senha" formControlName="confirmar_senha">
                  <div class="invalid-feedback">
                    As senhas digitadas não coincidem
                  </div>
                </div> -->

      <!-- <button *ngIf="(!editando)" type="button" class="btn btn-block btn-success" (click)="cadastrar(usuarioForm)" [disabled]="usuarioForm.invalid || usuarioForm.get('confirmar_senha').value != usuarioForm.get('senha').value">Cadastrar</button> -->

    </form>
  </div>
</div>
