<div class="animated fadeIn mt-4">
  <div class="row justify-content-center align-middle">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Lista de Usuários
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-8">
              <input class="btn btn-info mb-2" type="button" value="Novo+" style="margin-right: 5px;"
                [routerLink]="['/usuarios/cadastrar']">
            </div>
            <div class="col col-4">
              <input type="text" id="myInput" class="form-control" placeholder="Busque pelo nome"
                [formControl]="campoPesquisa">
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th>Nome</th>
                  <th>RG</th>
                  <th>CPF</th>
                  <th>Celular</th>
                  <th>Email</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of retornoUsuarios; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ usuario.nome }}</td>
                  <td>{{ usuario.rg }}</td>
                  <td>{{ usuario.cpf }}</td>
                  <td>{{ usuario.contato }}</td>
                  <td>{{ usuario.email }}</td>
                  <td><input class="btn btn-info" type="button" value="Editar"
                      [routerLink]="['../usuarios/editar', usuario.id]"></td>
                  <td *ngIf="!(usuario.status)"><input class="btn btn-success ms-3" type="button" value="Ativar"
                      (click)="trocarStatus(usuario)"></td>
                  <td *ngIf="(usuario.status)"><input class="btn btn-danger ms-3" type="button" value="Desativar"
                      (click)="trocarStatus(usuario)"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12 col-12 d-sm-down-none">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
              [itemsPerPage]="5"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
