<div id="modal-content-wrapper">
  <h1 *ngIf="(data.status)" mat-dialog-title>Confirmação de desativação</h1>
  <h1 *ngIf="!(data.status)" mat-dialog-title>Confirmação de ativação</h1>
  <br>
  <div mat-dialog-content>
    <p *ngIf="(data.status)">Deseja desativar {{data.nome}} ? </p>
    <p *ngIf="!(data.status)">Deseja ativar {{data.nome}} ? </p>
  </div>
  <div mat-dialog-actions class="align-items-right">
    <button mat-button class="btn btn-primary" (click)="onClick()" cdkFocusInitial>Sim</button>
    <button mat-button class="btn btn-default" (click)="onNoClick()">Não</button>
  </div>
</div>
