body{
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 200px;
  height: 100%;
  width: 200px;
  background-color: #555;
  padding: 6px 14px;
}

.sidebar .logo_content {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
 }

.logo_content .logo {
 display: flex;
 height: 50px;
 width: 100%;
 align-items: center;

}
