<body>

  <div class="sidebar">

    <div class="logo_content">
      <div class="logo">
        <img src=".\assets\img\SAFFO VERDE.png">
      </div>
      <i class="fa-solid fa-arrow-left"></i>
    </div>
    <ul class="nav_list">
      <li>
        <a href="#">
          <i class="fa-solid fa-building"></i>
          <span class="links_name">Empresas</span>
        </a>
        <!-- <span class="tooltip">Empresas</span> -->

      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-building"></i>
          <span class="links_name">Escritórios</span>
        </a>
        <!-- <span class="tooltip">Escritórios</span> -->

      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-building"></i>
          <span class="links_name">Usuários</span>
        </a>
        <!-- <span class="tooltip">Usuários</span> -->

      </li>
    </ul>
  </div>



</body>
