<div class="animated fadeIn mt-4">
  <div class="row justify-content-center align-middle">
    <div class="col-md-8">

      <form>
        <div *ngIf="(admin)" class="form-group col-md-4">
          <select (change)="onKey($event.target.value)" class="form-control form-select">
            <option value='' disabled selected>Selecione o Escritório</option>
            <option *ngFor="let escritorio of escritorios" [ngValue]="escritorio.cnpj" mask="00.000.000/0000-00">
              {{escritorio.cnpj}} </option>
          </select>

        </div>

        <div class="card">
          <div class="card-body p-4">
            <h3>Enviar Documentos</h3>
            <div class="row">
              <div class="iput-group col mb-3">

                <div class="dropzone" appBtnDropZone (fileDropped)="arquivosArrastados($event)">
                  <input type="file" #fileDropRef id="fileDropRef" multiple
                    (change)="arquivosEscolhidos($event.target.files)" accept=".pdf" />
                  <div class="label-dropzone">
                    <h3>Arraste e solte os arquivos aqui</h3>
                    <h3>ou</h3>
                    <label for="fileDropRef">Busque por eles</label>
                  </div>
                </div>
                <div class="progress" style="margin-top: 5px;" [style.display]="uploadingFile">
                  <div class="progress-bar" role="progressbar" style="background-color: green;"
                    [style.width]="uploadProgress + '%'"> {{uploadProgress}}%</div>
                </div>
                <!-- <div *ngIf="mostrarAlertaSucesso" class="alert alert-success" role="alert" style="margin-top: 10px;">
                  Documentos enviados!
                  <button type="button" class="close" aria-label="Close" (click)="fecharAlertaSucesso()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div> -->
                <div *ngIf="mostrarAlertaFalha" class="alert alert-danger" role="alert" style="margin-top: 10px;">
                  Insira apenas arquivos .pdf!
                  <button type="button" class="close" aria-label="Close" (click)="fecharAlertaFalha()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div *ngIf="gif" style="text-align: center;">
                  <img src="assets/img/loading_w.gif" alt="Carregando" width="5%" />
                </div>
                <span *ngIf="(files.length) == 0">Nenhum arquivo selecionado. </span>
                <span *ngIf="(files.length) == 1">1 arquivo selecionado.</span>
                <span *ngIf="(files.length) > 1">{{files.length}} arquivos selecionados.</span>
              </div>
            </div>
          </div>
        </div>
        <button type="button" [disabled]="(files.length) == 0 || (desativado) || ((admin) && !(esc))"
          class="btn btn-block btn-enviar" (click)="salvar()">Iniciar Leitura</button>
      </form>


    </div>
  </div>
</div>
<div *ngIf="mostrarDocumentos" class="animated fadeIn mt-4">
  <div class="row justify-content-center align-middle">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Lista de Documentos
        </div>
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkAll" (change)="check()" #checkBox>
            <label class="form-check-label" for="flexCheckDefault">
              Selecionar todos
            </label>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th>#</th>
                <th>Vencimento</th>
                <th>Valor</th>
                <th>Documento</th>
                <th>Empresa</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let documento of documentos; let i = index">
                <!--   -->

                <th scope="row">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" [checked]="(documento.check)"
                      (change)="checkSpecific(i)">
                  </div>
                </th>
                <td> {{i + 1}} </td>
                <td> {{documento.vencimento}} </td>
                <td> {{documento.valor}} </td>
                <td> {{documento.documento.nome}}</td>
                <td> {{documento.empresa.razaoSocial}} </td>
                <td><input class="btn btn-success" type="button" value="Enviar" (click)="enviaDocumento(documento, i)"
                    [disabled]="(documento.enviado)"></td>
                <td>
                  <div *ngIf="(documento.enviado)" style="text-align: center;">
                    <img src="assets/img/loading_w.gif" alt="Carregando" width="5%" /> enviando documento
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <input class="btn btn-block btn-success" type="button" value="Enviar Documentos" [disabled]="!(botaoEnviar)"
            (click)="enviaDocumentos()" />
          <!-- <div class="col-xs-12 col-12 d-sm-down-none">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="5"></pagination>
          </div> -->
        </div>
      </div>
    </div>
  </div>
