main{
  margin-top: 5%;
}
.btn-enviar{
  background-color: rgb(181, 230, 29);
  color: white;
  border: 2px solid gray;
  height: 40px;
  width: 50%;
  font-weight: bold;
  margin: 0 auto;
}
.dropzone{
  min-width: 100px;
  min-height: 200px;
  max-height: 250px;
  padding: 20% 0 32% 0;
  text-align: center;
  border: dashed 3px #979797;
  position: relative;
  margin: 5% auto 0 auto;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  label {
    color: white;
    min-width: 100px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #db202f;
    padding: 8px 16px;
    
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
  }

    
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  
  0% {
    transform: translate(1px, 1px) rotate(0deg);
    border: solid 3px #979797;
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
    border: solid 3px #979797;
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
    border: solid 3px #979797;
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
    border: solid 3px #979797;
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
    border: solid 3px #979797;
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
    border: solid 3px #979797;
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
    border: solid 3px #979797;
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
    border: solid 3px #979797;
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
    border: solid 3px #979797;
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
    border: solid 3px #979797;
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
    border: solid 3px #979797;
  }
}