
.rodape{
  
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3%;
}

input{
  border-color: gray;
}

.dados{
  border: 2px solid gray;
  padding: 1%;
  position: relative;
}


.dados h6 {
  width: 100%;
  position: absolute;
  line-height: 20px;
  height: 20px;
  top: -10px;
  left: 0;
  margin-left: 5px;
}

.dados h6 span{
  background: #FFF;
  padding: 0 15px;
  color:#000;
}