<button type="button" class="btn btn-light" onclick="history.back()" style="background-color: rgb(228, 229, 230);"> <i
    class="fa fa-arrow-left"></i> Voltar</button>
<div class="conteiner-fluid ">
  <div class="card w-75 mx-auto p-2">

    <form class="form" [formGroup]="empresaForm">
      <div *ngIf="(!editando) && (admin)" class="row form-group" style="margin-left: 1%; margin-top: 2.5%;">
        <div class="col-md-5">

          <label class="form-label mf-4" for="escritorio">CNPJ do Escritorio</label>
          <select class="form-control form-select" name="escritorio"
            [ngClass]="{'is-invalid': empresaForm.get('escritorio').invalid && (empresaForm.get('escritorio').dirty || empresaForm.get('escritorio').touched)}"
            formControlName="escritorio">
            <option value="" disabled selected> Selecione </option>
            <option *ngFor="let escritorio of escritorios" [ngValue]="escritorio.cnpj"> {{escritorio.cnpj}}
            </option>
          </select>
          <div class="invalid-feedback">
            Selecione um escritorio.
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="dados">
          <h6> <span> Dados da Empresa </span> </h6>

          <div class="row mx-auto form-group">
            <div class="col-md-4">
              <label class="form-label" for="cnpj">CNPJ</label>
              <input type="text" class="form-control" name="cnpj"
                [ngClass]="{'is-invalid': empresaForm.get('cnpj').invalid && (empresaForm.get('cnpj').dirty || empresaForm.get('cnpj').touched)}"
                formControlName="cnpj" (blur)="cnpjKeyPressEvent($event)" mask="00.000.000/0000-00">
              <div class="invalid-feedback">
                <div *ngIf="empresaForm.get('cnpj').errors?.required">O campo CNPJ é obrigatório.</div>
                <div *ngIf="empresaForm.get('cnpj').errors?.duplicado">CNPJ já existe, por favor insira
                  outro.</div>
                <div *ngIf="empresaForm.get('cnpj').errors?.cnpjInvalido">CNPJ inválido, por favor insira
                  outro.</div>
              </div>
            </div>
          </div>

          <div class="row mx-auto form-group">

            <div class="col-md-4">
              <label class="form-label" for="inscricaoEstadual">Inscrição Estadual</label>
              <input id="inscricaoEstadual" type="text" class="form-control" name="inscricaoEstadual"
                formControlName="inscricaoEstadual"
                [ngClass]="{'is-invalid': empresaForm.get('inscricaoEstadual').invalid && (empresaForm.get('inscricaoEstadual').dirty || empresaForm.get('inscricaoEstadual').touched)}"
                (blur)="inscricaoKeyPressEvent($event)" mask="000000000">
              <div class="invalid-feedback">
                <div *ngIf="empresaForm.get('inscricaoEstadual').errors?.required">
                  O campo Inscrição Estadual é obrigatório.
                </div>
                <div *ngIf="empresaForm.get('inscricaoEstadual').errors?.duplicado">
                  Inscrição Estadual já existe, por favor insira outro.</div>
              </div>
            </div>
            <div class="col-md-5 mt-4 pt-2 ml-3">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" [value]="statusInscricaoEstadual"
                  (change)="statusInscricaoMudou($event)" checked>
                <label class="form-check-label" for="statusInscricaoEstadual">Empresa Contribuinte</label>
              </div>
            </div>

          </div>

          <div class="row mx-auto form-group">
            <div class="col-md-6">
              <label class="form-label" for="razaoSocial">Razão Social</label>
              <input type="text" class="form-control" name="razaoSocial" formControlName="razaoSocial">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="nomeFantasia">Nome Fantasia</label>
              <input type="text" class="form-control" name="nomeFantasia" formControlName="nomeFantasia">
            </div>
          </div>

          <div class="row mx-auto form-group">
            <div class="col-md-4">
              <label class="form-label" for="cep">CEP</label>
              <input type="text" class="form-control" name="cep"
                [ngClass]="{'is-invalid': empresaForm.get('cep').invalid && (empresaForm.get('cep').dirty || empresaForm.get('cep').touched)}"
                formControlName="cep" mask="00000-000">
              <div class="invalid-feedback">
                <div *ngIf="empresaForm.get('cep').errors?.required">
                  Campo Obrigatório</div>
              </div>
            </div>
            <div class="col-md-8">
              <label class="form-label" for="logradouro">Rua</label>
              <input type="text" class="form-control" name="logradouro" formControlName="logradouro">
            </div>
          </div>

          <div class="row mx-auto form-group">
            <div class="col-md-6">
              <label class="form-label" for="bairro">Bairro</label>
              <input type="text" class="form-control" name="bairro" formControlName="bairro">
            </div>
            <div class="col-md-2">
              <label class="form-label" for="numero">Número</label>
              <input type="number" min="0" class="form-control" name="numero" formControlName="numero">
            </div>
            <div class="col-md-4">
              <label class="form-label" for="complemento">Complemento</label>
              <input type="text" class="form-control" name="complemento" formControlName="complemento">
            </div>
          </div>

          <div class="row mx-auto form-group">
            <div class="col-md-6">
              <label class="form-label" for="contato">Contato</label>
              <input type="text" class="form-control" name="contato"
                [ngClass]="{'is-invalid': empresaForm.get('contato').invalid && (empresaForm.get('contato').dirty || empresaForm.get('contato').touched)}"
                formControlName="contato" mask="(00) 0 0000-0000" showMaskTyped="true">
              <div class="invalid-feedback">
                <div *ngIf="empresaForm.get('contato').errors?.required">
                  Campo obrigatório</div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="email">Email</label>
              <input type="text" class="form-control" name="email"
                [ngClass]="{'is-invalid': empresaForm.get('email').invalid && (empresaForm.get('email').dirty || empresaForm.get('email').touched)}"
                formControlName="email">
              <div class="invalid-feedback">
                <div *ngIf="empresaForm.get('email').errors?.required">
                  Campo Obrigatório</div>
                <div *ngIf="empresaForm.get('email').errors?.email">
                  Email Inválido</div>
              </div>
            </div>
          </div>

          <div class="row mx-auto form-group">
            <div class="col-md-4">
              <label class="form-label" for="atvdPrimaria">Atividade Primária</label>
              <input type="text" class="form-control" name="atvdPrimaria" formControlName="atvdPrimaria" disabled>
            </div>
            <div class="col-md-2">
              <label class="form-label" for="codCnaePrimaria">Código CNAE</label>
              <input type="text" class="form-control" name="codCnaePrimaria" formControlName="codCnaePrimaria" disabled>
            </div>
            <div class="col-md-4">
              <label class="form-label" for="atvdSecundaria">Atividade Secundária</label>
              <input type="text" class="form-control" name="atvdSecundaria" formControlName="atvdSecundaria" disabled>
            </div>
            <div class="col-md-2">
              <label class="form-label" for="codCnaeSecundaria">Código CNAE</label>
              <input type="text" class="form-control" name="codCnaeSecundaria" formControlName="codCnaeSecundaria"
                disabled>
            </div>
          </div>
          <div class="row mx-auto form-group">
            <div class="col-md-6">
              <label class="form-label" for="regimeTributario">Regime Tributário</label>
              <select class="form-control form-select" nome="regimeTributario"
                [ngClass]="{'is-invalid': empresaForm.get('regimeTributario').invalid && (empresaForm.get('regimeTributario').dirty || empresaForm.get('regimeTributario').touched)}"
                formControlName="regimeTributario">
                <option value="" disabled selected> Selecione </option>
                <option *ngFor="let r of regime" [value]="r"> {{regimeTributario[r]}} </option>
              </select>
              <div class="invalid-feedback">
                <div *ngIf="empresaForm.get('regimeTributario').errors?.required">
                  Campo Obrigatório</div>
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label" for="naturezaJuridica">Natureza Jurídica</label>
              <select class="form-control form-select" nome="naturezaJuridica"
                [ngClass]="{'is-invalid': empresaForm.get('naturezaJuridica').invalid && (empresaForm.get('naturezaJuridica').dirty || empresaForm.get('naturezaJuridica').touched)}"
                formControlName="naturezaJuridica">
                <option value="" disabled selected> Selecione </option>
                <option *ngFor="let n of natureza" [value]="n"> {{naturezaJuridica[n]}} </option>
              </select>
              <div class="invalid-feedback">
                <div *ngIf="empresaForm.get('naturezaJuridica').errors?.required">
                  Campo Obrigatório</div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div *ngIf="(!editando)" class="dados">
          <h6><span>Dados do Proprietário</span></h6>
          <div class="row mx-auto form-group">
            <div *ngIf="(!editando)" class="col-md-6">
              <label class="form-label" for="nomeSolicitante">Nome Completo</label>
              <input type="text" class="form-control" name="nomeSolicitante"
                [ngClass]="{'is-invalid': empresaForm.get('nomeSolicitante').invalid && (empresaForm.get('nomeSolicitante').dirty || empresaForm.get('nomeSolicitante').touched)}"
                formControlName="nomeSolicitante">
              <div class="invalid-feedback">
                <div *ngIf="empresaForm.get('nomeSolicitante').errors?.required">
                  Campo Obrigatório</div>
              </div>
            </div>
            <div *ngIf="(!editando)" class="col-md-4">
              <label class="form-label" for="cpf">CPF</label>
              <input type="text" class="form-control" name="cpf"
                [ngClass]="{'is-invalid': empresaForm.get('cpf').invalid && (empresaForm.get('cpf').dirty || empresaForm.get('cpf').touched)}"
                formControlName="cpf" (blur)="cpfKeyPressEvent($event)" mask="000.000.000-00">
              <div class="invalid-feedback">
                <div *ngIf="empresaForm.get('cpf').errors?.required">
                  O campo CPF é obrigatório.</div>
                <div *ngIf="empresaForm.get('cpf').errors?.cpfInvalido">
                  CPF inválido, por favor insira outro.</div>
                <div *ngIf="empresaForm.get('cpf').errors?.duplicado">
                  O usuário relacionado a este CPF não pode ser cadastrado como proprietário de empresa</div>
              </div>
            </div>

          </div>

          <div class="row mx-auto form-group">

            <div *ngIf="(!editando)" class="col-md-6">
              <label class="form-label" for="email">Email</label>
              <input type="text" class="form-control" name="email"
                [ngClass]="{'is-invalid': empresaForm.get('emailSolicitante').invalid && (empresaForm.get('emailSolicitante').dirty || empresaForm.get('emailSolicitante').touched)}"
                formControlName="emailSolicitante">
              <div class="invalid-feedback">
                <div *ngIf="empresaForm.get('emailSolicitante').errors?.required">
                  Insira um email válido.</div>
              </div>
            </div>

            <div *ngIf="(!editando)" class="col-md-4">
              <label class="form-label" for="celular">Celular</label>
              <input type="text" class="form-control" name="celular"
                [ngClass]="{'is-invalid': empresaForm.get('celular').invalid && (empresaForm.get('celular').dirty || empresaForm.get('celular').touched)}"
                formControlName="celular" mask="(00) 0 0000-0000" showMaskTyped="true">
              <div class="invalid-feedback">
                <div *ngIf="empresaForm.get('celular').errors?.required">
                  O campo Celular é obrigatório.</div>
              </div>
            </div>
          </div>
        </div>



        <br>
        <div class="rodape mt-2">
          <button *ngIf="(!editando)" type="button" class="btn btn-block btn-success" (click)="cadastrar(empresaForm)"
            [disabled]="empresaForm.invalid">Cadastrar</button>
          <button *ngIf="(editando)" type="button" class="btn btn-block btn-success"
            (click)="editar(empresaForm)">Editar</button>
        </div>
      </div>



    </form>
  </div>
</div>
