<div class="animated fadeIn mt-4">
  <div class="row justify-content-center align-middle">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Lista de Documentos
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-8">
              <input  class="btn btn-info mb-2" type="button" value="Novo+" [routerLink]="['/documentos/configurar']">
            </div>
            <div class="col col-4">
              <input type="text" id="myInput" class="form-control" placeholder="Busque pela razão social"
                [formControl]="campoPesquisa">
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th>Nome</th>
                  <th>Escritório</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let documento of retornoDocumentos">
                  <th scope="row">{{ documento.documento.id }}</th>
                  <td>{{ documento.documento.nome }}</td>
                  <td>{{ documento.documento.escritorio.razaoSocial }}</td>
                  <td ><input class="btn btn-info" type="button" value="Editar"
                      [routerLink]="['../documentos/editar', documento.id]"></td>
                  <td *ngIf="!(documento.status)"><input class="btn btn-success ms-3" type="button" value="Ativar"
                      (click)="trocarStatus(documento)"></td>
                  <td *ngIf="(documento.status)"><input class="btn btn-danger ms-3" type="button" value="Desativar"
                      (click)="trocarStatus(documento)"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12 col-12 d-sm-down-none">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="5"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
