<button type="button" class="btn btn-light" onclick="history.back()"
  style="background-color: rgb(228, 229, 230); margin-bottom: 3px;">
  <i class="fa fa-arrow-left"></i>Voltar</button>
<div class="card">

  <div class="bg-white" style="margin-left: 1%; margin-top: 1%;">
    <h4 *ngIf="(!editando)">Cadastro de Escritório</h4>
    <h4 *ngIf="(editando)">Editar Escritório</h4>
  </div>

  <form #f="ngForm" class="form" [formGroup]="escritorioForm">

    <div class="card-body">
      <div class="dados">
        <h6> <span> Dados do Escritório de Contabilidade </span> </h6>
        <div class="form-group row">
          <div class="col-md-2">
            <label class="form-label" for="cnpj">CNPJ</label>
            <input class="form-control"
              [ngClass]="{'is-invalid': controls.cnpj.invalid && (controls.cnpj.dirty || controls.cnpj.touched)}"
              type="text" name="cnpj" formControlName="cnpj" id="cnpj" mask="00.000.000/0000-00"
              aria-label="cnpj empresa" (blur)="cnpjKeyPressEvent($event)">
            <div class="invalid-feedback">
              <div *ngIf="controls.cnpj.errors?.required">
                O campo CNPJ é obrigatório.</div>
              <div *ngIf="controls.cnpj.errors?.duplicado">
                CNPJ já existe, por favor insira outro.</div>
              <div *ngIf="controls.cnpj.errors?.cnpjInvalido">
                CNPJ inválido, por favor insira outro.</div>
            </div>
          </div>

          <div class="col-md-5">
            <label class="form-label" for="razao-social">Razão Social</label>
            <input class="form-control"
              [ngClass]="{'is-invalid': controls.razaoSocial.invalid && (controls.razaoSocial.dirty || controls.razaoSocial.touched)}"
              type="text" name="razao-social" formControlName="razaoSocial" id="razaoSocial"
              aria-label="razao social empresa">
            <div class="invalid-feedback">
              <div *ngIf="controls.razaoSocial.errors?.required">
                Campo Obrigatório</div>
            </div>
          </div>

          <!-- <div *ngIf="(!editando)" class="col-md-5"> -->


          <!-- <label class="form-check-label"> Status </label>
            <div class="form-check ">
              <input class="form-check-input" type="radio" id="flexRadioDefault1" value="true" formControlName="status"
                [checked]="true" />
              <label class="form-check-label col-2" for="flexRadioDefault1">
                Ativo
              </label>
              <input class="form-check-input" type="radio" id="flexRadioDefault2" value="false"
                formControlName="status" />
              <label class="form-check-label col-3" for="flexRadioDefault2">
                Desativado
              </label>
            </div> -->
          <!-- </div> -->

        </div>

        <div class="form-group row">
          <div *ngIf="(!editando)" class="col-md-5 ml-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="ativoDesativo" value="true" checked
                formControlName="status">
              <label class="form-check-label" for="ativoDesativo">Ativar/Desativar Permissão</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-3">
            <label class="form-label" for="nome-fantasia">Nome Fantasia</label>
            <input class="form-control" type="text" name="nome-fantasia" formControlName="nomeFantasia"
              id="nomeFantasia" aria-label="nome fantasia empresa">
            <div class="invalid-feedback">
              <div *ngIf="controls.nomeFantasia.errors?.required">
                Campo Obrigatório</div>
            </div>
          </div>

          <div class="col-md-2">
            <label class="form-label" for="telefoneFixo">Contato</label>
            <input class="form-control" type="text" name="telefoneFixo" id="telefoneFixo" formControlName="telefoneFixo"
              [ngClass]="{'is-invalid': controls.telefoneFixo.invalid && (controls.telefoneFixo.dirty || controls.telefoneFixo.touched)}"
              mask="(00) 0 0000-0000" showMaskTyped="true" aria-label="contato escritório">
            <div class="invalid-feedback">
              <div *ngIf="controls.telefoneFixo.errors?.required">
                Campo Contato obrigatório</div>
            </div>
          </div>

          <div class="col-md-2">
            <label class="form-label" for="email">Email</label>
            <input class="form-control"
              [ngClass]="{'is-invalid': controls.email.invalid && (controls.email.dirty || controls.email.touched)}"
              type="text" id="email " name="email" formControlName="email" aria-label="email solicitante" required>
            <div class="invalid-feedback">
              <div *ngIf="controls.email.errors?.required">
                Campo Obrigatório</div>
              <div *ngIf="controls.email.errors?.email">
                Email Inválido</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-7">
            <label class="form-label" for="endereco">Endereço</label>
            <input class="form-control" type="text" name="endereco" id="endereco"
              [ngClass]="{'is-invalid': controls.endereco.invalid && (controls.endereco.dirty || controls.endereco.touched)}"
              formControlName="endereco" aria-label="endereco">
            <div class="invalid-feedback">
              <div *ngIf="controls.endereco.errors?.required">
                Campo Obrigatório</div>
            </div>
          </div>
        </div>

      </div>

      <br>

      <div *ngIf="(!editando)" class="responsavel dados">
        <h6> <span> Dados do Contador Responsável </span> </h6>

        <div class="form-group row">
          <div class="col-md-3">
            <label for="nomeSolicitante">Nome Completo</label>
            <input class="form-control"
              [ngClass]="{'is-invalid': controls.nomeSolicitante.invalid && (controls.nomeSolicitante.dirty || controls.nomeSolicitante.touched)}"
              type="text" name="nnomeSolicitante" formControlName="nomeSolicitante" id="nomeSolicitante"
              aria-label="nome responsavel">
            <div class="invalid-feedback">
              <div *ngIf="controls.nomeSolicitante.errors?.required">
                Campo Nome Completo é obrigatório</div>
            </div>
          </div>

          <div class="col-md-2">
            <label class="form-label" for="cpfSolicitante">CPF</label>
            <input class="form-control"
              [ngClass]="{'is-invalid': controls.cpfSolicitante.invalid && (controls.cpfSolicitante.dirty || controls.cpfSolicitante.touched)}"
              type="text" name="cpfSolicitante" id="cpfSolicitante" formControlName="cpfSolicitante"
              mask="000.000.000-00" aria-label="cpf responsavel" placeholder="000.000.000-00"
              (blur)="cpfKeyPressEvent($event)">
            <div class="invalid-feedback">
              <div *ngIf="controls.cpfSolicitante.errors?.required">
                O campo CPF é obrigatório.</div>
              <div *ngIf="escritorioForm.get('cpfSolicitante').errors?.cpfInvalido">
                CPF inválido, por favor insira outro.</div>
              <div *ngIf="controls.cpfSolicitante.errors?.duplicado">
                O usuário relacionado a este CPF não pode ser administrador de escritório</div>
            </div>
          </div>

          <div class="col-md-2">
            <label class="form-label" for="crc">Nº CRC</label>
            <input class="form-control"
              [ngClass]="{'is-invalid': controls.crc.invalid && (controls.crc.dirty || controls.crc.touched)}"
              type="text" name="crc" id="crc" mask="0SS-000000/S-0" formControlName="crc" placeholder="0AA-000000/A-0"
              aria-label="crc contador" (blur)="crcKeyPressEvent($event)">
            <div class="invalid-feedback">
              <div *ngIf="controls.crc.errors?.required">
                O campo CRC é obrigatório
              </div>
              <div *ngIf="controls.crc.errors?.duplicado">
                CRC já existe, por favor insira outro.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-3">
            <label class="form-label" for="emailResponsavel">Email</label>
            <input class="form-control"
              [ngClass]="{'is-invalid': controls.emailResponsavel.invalid && (controls.emailResponsavel.dirty || controls.emailResponsavel.touched)}"
              type="text" id="emailResponsavel" name="emailResponsavel" formControlName="emailResponsavel"
              aria-label="email responsavel" required>
            <div class="invalid-feedback">
              <div *ngIf="controls.emailResponsavel.errors?.required">
                Campo Obrigatório</div>
              <div *ngIf="controls.emailResponsavel.errors?.email">
                Email Inválido</div>
            </div>

          </div>

          <div class="col-md-2">
            <label class="form-label" for="telefoneCelular">Contato</label>
            <input class="form-control" type="text" name="telefoneCelular" id="telefoneCelular"
              formControlName="telefoneCelular" mask="(00) 0 0000-0000" showMaskTyped="true"
              aria-label="contato do responsável"
              [ngClass]="{'is-invalid': controls.telefoneCelular.invalid && (controls.telefoneCelular.dirty || controls.telefoneCelular.touched)}">
          </div>
        </div>



      </div>
    </div>

    <div class="rodape">
      <div class="">
        <button *ngIf="(!editando)" class="btn btn-block btn-success" [disabled]="!(escritorioForm.valid)"
          (click)="onSubmit(escritorioForm)">Salvar Cadastro</button>
        <button *ngIf="(editando)" class="btn btn-block btn-success" [disabled]="!(escritorioForm.valid)"
          (click)="editar(escritorioForm)">Editar Cadastro</button>
      </div>
    </div>
  </form>

</div>
<!--
  <div class="row form-horizontal">
    <div class="col-md-auto">

      <div class="card border-light">

        <div class="card-header bg-white">
          <h2 *ngIf="(!editando)">Cadastrar Escritório Contabilidade</h2>
          <h2 *ngIf="(editando)">Editar Escritório de Contabilidade</h2>
          <p *ngIf="(!editando)" class="card-title">Leva alguns segundos para criar sua conta</p>
        </div>

        <form #f="ngForm" class="form" [formGroup]="escritorioForm">

          <div class="card-body">
            <div *ngIf="(!editando)">
              <label class="form-check-label"> Status </label>
              <div class="form-check">
                <input class="form-check-input" type="radio"  id="flexRadioDefault1"
                  value="true" formControlName="status" [checked]="true"/>
                <label class="form-check-label" for="flexRadioDefault1">
                  Ativo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="flexRadioDefault2" value="false" formControlName="status" />
                <label class="form-check-label" for="flexRadioDefault2">
                  Desativado
                </label>
              </div>
            </div>
            <br>
            <div class="col-sm-12">
              <label class="form-label" for="cnpj">CNPJ</label>
              <input class="form-control"
                [ngClass]="{'is-invalid': controls.cnpj.invalid && (controls.cnpj.dirty || controls.cnpj.touched)}"
                type="text" name="cnpj" formControlName="cnpj" id="cnpj" mask="00.000.000/0000-00"
                aria-label="cnpj empresa" (blur)="cnpjKeyPressEvent($event)">
              <div class="invalid-feedback">
                <div *ngIf="controls.cnpj.errors?.required">
                  O campo CNPJ é obrigatório.</div>
                <div *ngIf="controls.cnpj.errors?.duplicado">
                  CNPJ já existe, por favor insira outro.</div>
                <div *ngIf="controls.cnpj.errors?.cnpjInvalido">
                  CNPJ inválido, por favor insira outro.</div>
              </div>
            </div>

            <div class="form-group mb-1">
              <label class="form-label" for="razao-social">Razão Social</label>
              <input class="form-control"
                [ngClass]="{'is-invalid': controls.razaoSocial.invalid && (controls.razaoSocial.dirty || controls.razaoSocial.touched)}"
                type="text" name="razao-social" formControlName="razaoSocial" id="razaoSocial"
                aria-label="razao social empresa">
              <div class="invalid-feedback">
                <div *ngIf="controls.razaoSocial.errors?.required">
                  Campo Obrigatório</div>
              </div>
            </div>

            <div class="form-group mb-1">
              <label class="form-label" for="nome-fantasia">Nome Fantasia</label>
              <input class="form-control"
                [ngClass]="{'is-invalid': controls.nomeFantasia.invalid && (controls.nomeFantasia.dirty || controls.nomeFantasia.touched)}"
                type="text" name="nome-fantasia" formControlName="nomeFantasia" id="nomeFantasia"
                aria-label="nome fantasia empresa">
              <div class="invalid-feedback">
                <div *ngIf="controls.nomeFantasia.errors?.required">
                  Campo Obrigatório</div>
              </div>
            </div>


            <div class="form-group mb-1">
              <label class="form-label" for="endereco">Endereço</label>
              <input class="form-control" type="text" name="endereco" id="endereco"
              [ngClass]="{'is-invalid': controls.endereco.invalid && (controls.endereco.dirty || controls.endereco.touched)}"
                formControlName="endereco" aria-label="endereco">
              <div class="invalid-feedback">
                <div *ngIf="controls.endereco.errors?.required">
                  Campo Obrigatório</div>
              </div>
            </div>

            <div class="form-group mb-1">
              <label class="form-label" for="telefoneFixo">Contato</label>
              <input class="form-control" type="text" name="telefoneFixo" id="telefoneFixo" formControlName="telefoneFixo"
                [ngClass]="{'is-invalid': controls.telefoneFixo.invalid && (controls.telefoneFixo.dirty || controls.telefoneFixo.touched)}"
                mask="(00) 0 0000-0000" showMaskTyped="true" aria-label="contato escritório">
              <div class="invalid-feedback">
                <div *ngIf="controls.telefoneFixo.errors?.required">
                  Campo Contato obrigatório</div>
              </div>
            </div>

            <div class="form-group mb-1">
              <label class="form-label" for="email">Email</label>
              <input class="form-control"
                [ngClass]="{'is-invalid': controls.email.invalid && (controls.email.dirty || controls.email.touched)}"
                type="text" id="email " name="email" formControlName="email" aria-label="email solicitante" required>
              <div class="invalid-feedback">
                <div *ngIf="controls.email.errors?.required">
                  Campo Obrigatório</div>
                <div *ngIf="controls.email.errors?.email">
                  Email Inválido</div>
              </div>
            </div>

            <div *ngIf="(!editando)" class="responsavel">
            <hr>
            <h4 class="mb-4">Dados do Contador Responsável</h4>

            <div class="form-group mb-1">
              <label for="nomeSolicitante">Nome Completo</label>
              <input class="form-control"
                [ngClass]="{'is-invalid': controls.nomeSolicitante.invalid && (controls.nomeSolicitante.dirty || controls.nomeSolicitante.touched)}"
                type="text" name="nnomeSolicitante" formControlName="nomeSolicitante" id="nomeSolicitante"
                aria-label="nome responsavel">
              <div class="invalid-feedback">
                <div *ngIf="controls.nomeSolicitante.errors?.required">
                  Campo Obrigatório</div>
              </div>
            </div>

            <div class="form-group mb-1">
              <label class="form-label" for="cpfSolicitante">CPF</label>
              <input class="form-control"
                [ngClass]="{'is-invalid': controls.cpfSolicitante.cpfSolicitante && (controls.cpfSolicitante.dirty || controls.cpfSolicitante.touched)}"
                type="text" name="cpfSolicitante" id="cpfSolicitante" formControlName="cpfSolicitante" mask="000.000.000-00" aria-label="cpf responsavel" placeholder="000.000.000-00"
                (blur)="cpfKeyPressEvent($event)">
              <div class="invalid-feedback">
                <div *ngIf="controls.cpfSolicitante.errors?.required">
                  O campo CPF é obrigatório.</div>
                <div *ngIf="controls.cpfSolicitante.errors?.cpfInvalido">
                  CPF inválido, por favor insira outro.</div>
                <div *ngIf="controls.cpfSolicitante.errors?.duplicado">
                  CPF já existe, por favor insira outro.</div>
              </div>
            </div>

            <div class="form-group mb-1">
              <label class="form-label" for="crc">Nº CRC</label>
              <input class="form-control"
                [ngClass]="{'is-invalid': controls.crc.invalid && (controls.crc.dirty || controls.crc.touched)}"
                type="text" name="crc" id="crc" mask="0SS-000000/S-0" formControlName="crc" placeholder="1UFXXXXXX/O-X"
                aria-label="crc contador">
              <div class="invalid-feedback">
                <div *ngIf="controls.crc.errors?.required">
                  Campo Obrigatório</div>
              </div>
            </div>

            <div class="form-group mb-1">
              <label class="form-label" for="telefoneCelular">Contato</label>
              <input class="form-control" type="text" name="telefoneCelular" id="telefoneCelular"
                formControlName="telefoneCelular" mask="(00) 0 0000-0000" showMaskTyped="true"
                aria-label="contato do responsável">
            </div>

            <div class="form-group mb-1">
              <label class="form-label" for="emailResponsavel">Email</label>
              <input class="form-control"
                [ngClass]="{'is-invalid': controls.emailResponsavel.invalid && (controls.emailResponsavel.dirty || controls.emailResponsavel.touched)}"
                type="text" id="emailResponsavel" name="emailResponsavel" formControlName="emailResponsavel"
                aria-label="email responsavel" required>
              <div class="invalid-feedback">
                <div *ngIf="controls.emailResponsavel.errors?.required">
                  Campo Obrigatório</div>
                <div *ngIf="controls.emailResponsavel.errors?.email">
                  Email Inválido</div>
              </div>
            </div>

          </div>
        </div>
          <div class=" card-footer bg-white">
            <button *ngIf="(!editando)" class="btn btn-block btn-success" [disabled]="!(escritorioForm.valid)"
              (click)="onSubmit(escritorioForm)">Cadastrar</button>
            <button *ngIf="(editando)" class="btn btn-block btn-success" [disabled]="!(escritorioForm.valid)"
              (click)="editar(escritorioForm)">Editar</button>
          </div>

        </form>

      </div>
    </div>
  </div> -->
