<div class="animated fadeIn mt-4">
  <div class="row justify-content-center align-middle">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Mensagens
        </div>
        <div class="card-body">
          <input class="btn btn-info mb-2" type="button" value="Novo+" [routerLink]="['cadastrar']">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th>Remetente</th>
                <th>Destinatário</th>
                <th>Mensagem</th>
                <th style="text-align: right;">Lida</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mensagem of retornoMensagens; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{mensagem.usuarioRemetente.nome}}</td>
                <td>{{mensagem.usuarioDestino.nome}}</td>
                <td> {{mensagem.txtMensagem}} </td>
                <th style="text-align: right;"> <input class="form-check-input" type="checkbox" value="true" id="defaultCheck1" [disabled]="(mensagem.status) == true" [checked]="(mensagem.status) == true" (change)="checkboxAtt(mensagem)" > </th>
              </tr>
            </tbody>
          </table>
          <div class="col-xs-12 col-12 d-sm-down-none">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="5"></pagination>
          </div>
        </div>
      </div>
    </div>
</div>
