<div class="animated fadeIn mt-4">
  <div class="row justify-content-center align-middle">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Lista de Empresas
        </div>
        <div class="card-body">
          <div class="row">
            <div *ngIf="!(admin_empresa)" class="col col-8">
              <input class="btn btn-info mb-2" type="button" value="Novo+" [routerLink]="['/empresas/cadastrar']">
            </div>
            <div class="col col-4">
              <input type="text" id="myInput" class="form-control" placeholder="Busque pela razão social"
                [formControl]="campoPesquisa">
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th>Razão Social</th>
                  <th>CNPJ</th>
                  <th>Nome Fantasia</th>
                  <th>Contato</th>
                  <th>Escritório</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let empresa of retorno_empresa; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ empresa.razaoSocial }}</td>
                  <td>{{ empresa.cnpj }}</td>
                  <td>{{ empresa.nomeFantasia }}</td>
                  <td>{{ empresa.email }}</td>
                  <td>{{ empresa.escritorio.razaoSocial }}</td>
                  <td> <input class="btn btn-light" type="button" value="Documentos"
                    [routerLink]="['../documentos/documentos', empresa.id]"></td>
                  <td *ngIf="!(admin_empresa)"><input class="btn btn-info" type="button" value="Editar"
                      [routerLink]="['../empresas/editar', empresa.id]"></td>
                  <td *ngIf="!(empresa.status) && !(admin_empresa)"><input class="btn btn-success ms-3" type="button"
                      value="Ativar" (click)="trocarStatus(empresa)"></td>
                  <td *ngIf="(empresa.status) && !(admin_empresa)"><input class="btn btn-danger ms-3" type="button"
                      value="Desativar" (click)="trocarStatus(empresa)"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12 col-12 d-sm-down-none">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
              [itemsPerPage]="5"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
