<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1>Login</h1>
                  <p class="text-muted">Entre na sua conta</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="email" class="form-control" [(ngModel)]="user.login" id="login" name="login" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" [(ngModel)]="user.senha" id="senha" [ngModelOptions]="{standalone: true}" name="senha">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-info px-4 text-white" (click)="logar()">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Esqueceu a senha?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-info py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Cadastre-se</h2>
                  <button type="button" class="btn btn-info active mt-3">Se Cadastre Agora!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
