<div class="animated fadeIn mt-4">
  <div class="row justify-content-center align-middle">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Lista de Escritórios de Contabilidade
        </div>
        <div class="card-body">
          <div class="row">
            <div *ngIf="!(admin_escritorio)" class="col col-8">
              <input  class="btn btn-info mb-2" type="button" value="Novo+" [routerLink]="['/escritorios/cadastrar']">
            </div>
            <div class="col col-4">
              <input type="text" id="myInput" class="form-control" placeholder="Busque pela razão social"
                [formControl]="campoPesquisa">
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th>CNPJ</th>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Contato</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let escritorio of retorno_escritorios; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ escritorio.cnpj }}</td>
                  <td>{{ escritorio.razaoSocial }}</td>
                  <td>{{ escritorio.email }}</td>
                  <td>{{ escritorio.contato }}</td>
                  <td *ngIf="!(admin_escritorio)"><input class="btn btn-info" type="button" value="Editar"
                      [routerLink]="['../escritorios/editar', escritorio.id]"></td>
                  <td *ngIf="!(escritorio.status) && !(admin_escritorio)"><input class="btn btn-success ms-3" type="button" value="Ativar"
                      (click)="trocarStatus(escritorio)"></td>
                  <td *ngIf="(escritorio.status) && !(admin_escritorio)"><input class="btn btn-danger ms-3" type="button" value="Desativar"
                      (click)="trocarStatus(escritorio)"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12 col-12 d-sm-down-none">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
              [itemsPerPage]="5"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
