<button type="button" class="btn btn-light" onclick="history.back()" style="background-color: rgb(228, 229, 230);"> <i
    class="fa fa-arrow-left"></i> Voltar</button>

<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card mx-4">
      <div class="card-body p-4">
        <form [formGroup]="usuarioForm">
          <h1 *ngIf="(!editando)">Cadastrar Usuário</h1>
          <h1 *ngIf="(editando)"> Editar Usuário </h1>
          <p *ngIf="(!editando)" class="text-muted">Crie o usuário</p>
          <div *ngIf="(admin)" class="row">
            <div class="input-group col mb-3">
              <select class="form-control" formControlName="escritorio">
                <option value='' disabled selected>Escritório</option>
                <option *ngFor="let escritorio of escritorios" [ngValue]="escritorio.id"> {{escritorio.cnpj}} </option>
              </select>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="text" class="form-control" name="nome"
              [class.is-invalid]="usuarioForm.get('nome').invalid && (usuarioForm.get('nome').dirty || usuarioForm.get('nome').touched)"
              placeholder="Nome Completo" formControlName="nome">
            <div class="invalid-feedback">
              O campo Nome é obrigatório.
            </div>
          </div>
          <div class="row">
            <div class="input-group col mb-3">
              <input type="text" class="form-control" name="rg" placeholder="RG" formControlName="rg">
            </div>
            <div class="input-group col mb-3">
              <input type="text" class="form-control" name="cpf"
                [class.is-invalid]="usuarioForm.get('cpf').invalid && (usuarioForm.get('cpf').dirty || usuarioForm.get('cpf').touched)"
                placeholder="CPF" formControlName="cpf">
              <div class="invalid-feedback">
                O campo CPF é obrigatório. Deve ter 11 dígitos.
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-phone"></i></span>
            </div>
            <input type="text" class="form-control" name="celular" placeholder="Celular" formControlName="celular">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" name="email"
              [class.is-invalid]="usuarioForm.get('email').invalid && (usuarioForm.get('email').dirty || usuarioForm.get('email').touched)"
              placeholder="Email" formControlName="email">
            <div class="invalid-feedback">
              O campo Email é obrigatório.
            </div>
          </div>

          <div formGroupName="endereco" style="border: none;">
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="cep" placeholder="CEP" formControlName="cep"
                (blur)="consultaCep($event.target.value)"
                [class.is-invalid]="usuarioForm.get('endereco').get('cep').invalid && (usuarioForm.get('endereco').get('cep').dirty || usuarioForm.get('endereco').get('cep').touched)">
              <div class="invalid-feedback">
                O campo CEP é obrigatório.
              </div>
            </div>
            <div class="row">
              <div class="input-group col-8 mb-3">
                <input type="text" class="form-control" name="rua" placeholder="Rua" formControlName="rua">
              </div>
              <div class="input-group col mb-3">
                <input type="number" min="0" class="form-control" name="numero" placeholder="Número" formControlName="numero">
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="bairro" placeholder="Bairro" formControlName="bairro">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="cidade" placeholder="Cidade" formControlName="cidade">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="estado" placeholder="Estado" formControlName="estado">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="pais" placeholder="Pais" formControlName="pais">
            </div>

            <div class="input-group mb-3">
              <input type="text" class="form-control" name="complemento" placeholder="Complemento"
                formControlName="complemento">
            </div>
          </div>
          <!-- <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="login" [class.is-invalid]="usuarioForm.get('login').invalid && (usuarioForm.get('login').dirty || usuarioForm.get('login').touched)" placeholder="Login" formControlName="login">
                  <div class="invalid-feedback">
                    O campo Login é obrigatório.
                  </div>
                </div> -->
          <!-- <div *ngIf="(!editando)" class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" name="senha" [class.is-invalid]="usuarioForm.get('senha').invalid && (usuarioForm.get('senha').dirty || usuarioForm.get('senha').touched)" placeholder="Senha" formControlName="senha">
                  <div class="invalid-feedback">
                    O campo Senha é obrigatório.
                  </div>
                </div> -->
          <!-- <div *ngIf="(!editando)" class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" name="confirmar_senha" [class.is-invalid]="usuarioForm.get('confirmar_senha').value != usuarioForm.get('senha').value" placeholder="Confirmar Senha" formControlName="confirmar_senha">
                  <div class="invalid-feedback">
                    As senhas digitadas não coincidem
                  </div>
                </div> -->
          <div class="row">
            <div class="input-group col mb-3">
              <select class="form-control">
                <option value='' disabled selected>Nível de Acesso</option>
                <option *ngFor="let nivel of niveis" [value]="nivel"> {{nivelDeAcesso[nivel]}} </option>
              </select>
            </div>
          </div>
          <!-- <button *ngIf="(!editando)" type="button" class="btn btn-block btn-success" (click)="cadastrar(usuarioForm)" [disabled]="usuarioForm.invalid || usuarioForm.get('confirmar_senha').value != usuarioForm.get('senha').value">Cadastrar</button> -->
          <button *ngIf="(!editando)" type="button" class="btn btn-block btn-success" (click)="cadastrar(usuarioForm)"
            [disabled]="usuarioForm.invalid">Cadastrar</button>
          <button *ngIf="(editando)" type="button" class="btn btn-block btn-success" (click)="editar(usuarioForm)"
            [disabled]="usuarioForm.invalid">Editar</button>
        </form>
      </div>
    </div>
  </div>
</div>
