<button type="button" class="btn btn-light" onclick="history.back()" style="background-color: rgb(228, 229, 230);"> <i
  class="fa fa-arrow-left"></i> Voltar</button>

<div class="row justify-content-md-center">
<div class="col-md-auto">

  <div class="card border-light">

    <div class="card-header bg-white">
      <h1>Cadastrar Departamentos</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="departamentoForm">
        <div *ngIf="(admin)" class="row">
          <div class="form-group col mb-1">
            <label class="form-label mf-4" for="escritorio">CNPJ do Escritorio</label>
            <select class="form-control form-select" formControlName="cnpj"
              [ngClass]="{'is-invalid': departamentoForm.get('cnpj').invalid && (departamentoForm.get('cnpj').dirty || departamentoForm.get('cnpj').touched)}">
              <option value='' disabled selected>Selecione</option>
              <option *ngFor="let escritorio of escritorios" [ngValue]="escritorio.cnpj" mask="00.000.000/0000-00">
                {{escritorio.cnpj}} </option>
            </select>
            <div class="invalid-feedback">
              Selecione um escritório
            </div>
          </div>
        </div>

        <div *ngIf="!(admin) && (multiplos)" class="row">
          <div class="form-group col mb-1">
            <select class="form-control" formControlName="cnpj"
              [ngClass]="{'is-invalid': departamentoForm.get('cnpj').invalid && (departamentoForm.get('cnpj').dirty || departamentoForm.get('cnpj').touched)}">
              <option value='' disabled selected>Selecione o Escritório</option>
              <option *ngFor="let escritorio of escritorios" [ngValue]="escritorio.cnpj" mask="00.000.000/0000-00">
                {{escritorio.cnpj}} </option>
            </select>
            <div class="invalid-feedback">
              Selecione um escritório
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="nome">Nome do Departamento</label>
          <input type="text" class="form-control" name="nome" formControlName="nome"
            [ngClass]="{'is-invalid': departamentoForm.get('nome').invalid && (departamentoForm.get('nome').dirty || departamentoForm.get('nome').touched)}">
          <div class="invalid-feedback">
            O campo Nome é obrigatório.
          </div>
        </div>

        <button  type="button" class="btn btn-block btn-success" (click)="cadastrar(departamentoForm)"
          [disabled]="departamentoForm.invalid">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
</div>
