<div class="animated fadeIn mt-4">
  <div class="row justify-content-center align-middle">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Lista de Categorias
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-5">
              <input class="btn btn-info mb-2" type="button" value="Novo+" [routerLink]="['cadastrar']">
            </div>

              <div class="col col-5">
                <input type="text" id="myInput" class="form-control" placeholder="Busque pelo nome da categoria"
                [formControl]="categoriaPequisa">
              </div>
              <div class="col">
                <button class="btn btn-info mb-2" type="button" (click)="pesquisarCategoria()">Pesquisar</button>
              </div>

          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th>Nome da Categoria</th>
                <!-- <th>Escritório</th> -->
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let categoria of categorias; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ categoria.nomeCategoria}}</td>
                <!-- <td>{{ tipoDocumento.escritorioContabil.nomeFantasia }}</td> -->
                <td><input class="btn btn-info" type="button" value="Editar" [routerLink]="['editar', categoria.id]"></td>
                <td><input class="btn btn-danger ms-3" type="button" (click)="openDialog(categoria, categoria.id)" value="Excluir"></td>
              </tr>
            </tbody>
          </table>
          <div class="col-xs-12 col-12 d-sm-down-none">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="5"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
