<h1 mat-dialog-title>Aviso</h1>
<div mat-dialog-content>O usuário e a senha foi enviado para o e-mail cadastrado. Por favor, confira a caixa de entrada do seu e-mail.</div>
<div mat-dialog-actions>
  <div mat-button mat-dialog-close (click)="onNoClick()">Fechar</div>
</div>
