
<app-listar-empresas *ngIf="(admin || admin_escritorio || admin_empresa)"></app-listar-empresas>
<app-listar-escritorio-contabil *ngIf="(admin || admin_escritorio)"></app-listar-escritorio-contabil>
<app-listar-usuarios *ngIf="(admin || admin_escritorio || admin_empresa)"></app-listar-usuarios>
<app-listar-documentos  *ngIf="(admin || admin_escritorio)" ></app-listar-documentos>
