<button type="button" class="btn btn-light" onclick="history.back()" style="background-color: rgb(228, 229, 230); margin-bottom: 1%;"> <i
  class="fa fa-arrow-left"></i> Voltar</button>
<div *ngIf="mostrarDocumentos">
<div class="row justify-content-center align-middle">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Documentos
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th>Vencimento</th>
              <th>Valor</th>
              <th>Documento</th>
              <th>Empresa</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let documento of documentos; let i = index">
              <!--   -->
              <th scope="row"> {{i + 1}} </th>
              <td> {{documento.vencimento}} </td>
              <td> {{documento.valor}} </td>
              <td> {{documento.documento.nome}}</td>
              <td> {{documento.empresa.razaoSocial}}</td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="col-xs-12 col-12 d-sm-down-none">
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [itemsPerPage]="5"></pagination>
        </div> -->
      </div>
    </div>
  </div>
</div>
