<div class="animated fadeIn">
  <div class="row justify-content-center align-middle">
    <div class="col-md-8 align-items">
      <div class="card mt-4">
        <div class="card-header">
          <i class="icon-envelope"></i><strong>Mensagem</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="msgForm" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Remetente</label>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-md-2 col-form-label" for="text-input">Destinatário</label>
                <div class="input-group col mb-3">
                  <select class="form-control" formControlName="usuarioDestino">
                    <option value='' disabled selected>Empresa</option>
                    <option *ngFor="let empresa of empresas" [ngValue]="empresa.responsavel.id"> {{empresa.pjId.razao_social}} </option>
                  </select>
                </div>

              <!--div class="col-md-10">
                <input type="text" id="text-input" name="text-input" class="form-control"
                placeholder="Destinatário">
                <span class="help-block"></span>
              </div-->
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"
                placeholder="Digite aqui a mensagem" formControlName="txtMensagem"></textarea>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-sm btn-primary m-1" (click)="enviar(msgForm)"><i class="fa fa-send" ></i> Enviar</button>
              <button type="button" class="btn btn-sm btn-danger" (click)="voltar()"><i class="fa fa-ban"></i> Cancelar</button>
            </div>
          </form>
        </div>

    </div>
  </div>
</div>
