textarea {
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-track {
   background: rgb(228, 228, 228);        /* color of the tracking area */
}
  
textarea::-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}