<!-- <ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull left">Aviso</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.closed()">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body">
    <input [value]="mensagem">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Fechar</button>
  </div>
</ng-template> -->
<div bsModal class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name" #childModal>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Child modal</h4>
        <button type="button" class="close pull-right btn-close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <!-- <input [value]= "mensagem" class="modal-body"> -->
    </div>
  </div>
</div>
